<html>
    <head>
        <title>Senha incorreta</title>
        <script>
            confirm("Senha incorreta")
            Window.location.replace("/room/<%= roomId %>")
        </script>
    </head>
</html>